<div class="modal-container">
	<header class="modal-header">
		<h4 class="modal-title">Game Locked</h4>
	</header>
	<section class="modal-body">
		<p>The game you are trying to open is currently locked by another user. Would you like to kick them and take control of this game?</p>
	</section>
	<footer class="modal-footer">
		<center class="btn-group btn-group-block btn-group-large">
			<button class="btn btn-large btn-success" ng-click="yes()">Yes</button>
			<button class="btn btn-large btn-default" ng-click="no()">No</button>
		</center>
	</footer>
</div>